html {
  font-size: 62.5%;
}
* {
  margin: 10px;
  margin: 0 auto;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
@media (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}
.wrapper {
  max-width: 960px;
  height: fit-content;
  border: 4px solid black;
}
.container {
  text-align: center;
  height: fit-content;
}
img {
  height: 200px;
  width: 200px;
  position: relative;
  top: 58%;
}
@media (max-width: 700px) {
  img {
    height: 50px;
    width: 50px;
  }
}
.goat {
  /* background-image: url(/img/goat1.png); */
  left: -30px;
}
@media (max-width: 700px) {
  .goat {
    left: -10px;
  }
}
.car {
  /* background-image: url(/img/ferrari.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; */
  width: 250px;
  left: -25px;
}
@media (max-width: 700px) {
  .car {
    width: 50px;
    left: 0;
  }
}
.banner {
  height: fit-content;
}
.banner h1 {
  text-align: center;
  margin: 20px auto;
}
.banner .results-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.banner .results-container div h2 {
  margin: 0 auto;
}
.banner .results-container .results {
  height: 100px;
  width: 100px;
  margin: 20px auto;
  font-size: 80px;
  font-weight: bolder;
}
@media (max-width: 700px) {
  .banner .results-container .results {
    font-size: 2rem;
    height: 3vh;
    width: 3vh;
  }
}
.door-container {
  display: flex;
  height: fit-content;
  justify-content: space-evenly;
  padding: 0;
}
.door-container .door {
  height: 400px;
  width: 200px;
  font-size: 20px;
  background-image: url(/img/door-closed-red.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 700px) {
  .door-container .door {
    height: 100px;
    width: 50px;
  }
}
.door-container .doorBorder {
  border: 10px solid blue;
}
@media (max-width: 700px) {
  .door-container .doorBorder {
    border: 5px solid blue;
  }
}
.door-container .door:hover {
  cursor: pointer;
}
#btn-container-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 20px auto;
}
#btn-container-outer #btn-container-inner {
  display: flex;
}
#btn-container-outer #btn-container-inner .game-btn {
  border-radius: 5%;
  border: none;
  font-size: 2.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #ad0703;
  background-color: hsl(1, 97%, 35%);
  color: whitesmoke;
  margin: 10px;
  height: fit-content;
  padding: 20px;
}
@media (max-width: 700px) {
  #btn-container-outer #btn-container-inner .game-btn {
    font-size: 1.5rem;
  }
}
#btn-container-outer #btn-container-inner .game-btn:hover {
  cursor: pointer;
  background: rgba(160, 7, 3, 0.8);
}
#btn-container-outer #btn-container-inner .game-btn:disabled {
  background: grey;
}
