html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
}

* {
  //border: 1px solid black;
  //height: fit-content;
  margin: 10px;
  margin: 0 auto;
  height: fit-content;
}

.wrapper {
  max-width: 960px;
}

.banner {
  height: 15vh;
  h1 {
    width: fit-content;
    margin: 20px auto;
  }
}

.container {
  text-align: center;
}
img {
  height: 200px;
  width: 200px;
  position: relative;
  top: 58%;
}

.goat {
  /* background-image: url(/img/goat1.png); */
  left: -30px;
}

.car {
  /* background-image: url(/img/ferrari.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; */
  width: 250px;
  left: -25px;
}

.door-container {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  padding: 30px;
  .door {
    height: 400px;
    width: 200px;
    // !!!!!!!! POINTER EVENTS
    font-size: 20px;
    background-image: url(/img/door-closed-red.png);
    //background-image: url(/img/door-open-red.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .doorBorder {
    border: 10px solid blue;
  }

  .door:hover {
    cursor: pointer;
  }
}

.results-container {
  display: flex;
  div {
    width: 50%;
  }
  .results {
    height: 100px;
    width: 100px;
    margin: 50px auto;
    border: 2px solid blue;
    font-size: 80px;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 20px auto;
  .game-btn {
    border-radius: 5%;
    border: none;
    font-size: 2.3rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background: rgb(173, 7, 3);
    background-color: hsl(1, 97%, 35%);
    color: whitesmoke;
    margin: 10px;
    height: fit-content;
    padding: 20px;
  }
  .game-btn:hover {
    cursor: pointer;
    background: rgba(160, 7, 3, 0.8);

    // background-color: hsl(1, 97%, 35%);
  }
  .game-btn:disabled {
    background: grey;
  }
}
